mixin player(title, stat, value)
    .vertical(class="player")
        .gametitle= title
        div= players[stat][value]
        .playerimgs(class={"win": players[stat].win})
            img(src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/" + players[stat].steamAccount.avatar, class="playerpic")
            img(src=players[stat].hero.portrait, class="heroportrait")
        .playername #{players[stat].steamAccount.name}

mixin hero(name, picks, picture, position)
    .vertical(class="hero")
        img(src=picture, class=position)
        div #{ name } (#{ picks })

mixin team(name, picture, win)
    .team&attributes(attributes)
        .winner #{win?"Winner":""}
        img(src=picture, class="teampic")
        .teamname= name

mixin game(title, value, stats)
    .vertical(class="game")
        .gametitle= title
        div= value
        .horizontal
            +team(
                stats.radiant.name, 
                stats.radiant.logo ? stats.radiant.logo : "/img/radiant.png", 
                stats.radiantWin
            )
            .vs vs
            +team(
                stats.dire.name, 
                stats.dire.logo ? stats.dire.logo : "/img/dire.png",  
                !stats.radiantWin
            )(class="rightalign")

doctype html
html
    head
        link(rel='stylesheet', href='/css/style.css', type='text/css')
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Satisfy")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poppins")
    body
        .vertical
            h1 Clarity League
            .season SEASON 0
            .subtitle Sunday stats by Ernie
            .horizontal
                +game('Shortest game', shortestGame.duration, shortestGame)
                +game('Least kills', leastKillsGame.kills, leastKillsGame)
            .horizontal
                +game('Longest game', longestGame.duration, longestGame)
                +game('Most kills', mostKillsGame.kills, mostKillsGame)
            .heroes MOST PICKED HEROES
            .horizontal
                +hero(heroes[1].hero, heroes[1].count, heroes[1].picture, "second")
                +hero(heroes[2].hero, heroes[2].count, heroes[2].picture, "first")
                +hero(heroes[0].hero, heroes[0].count, heroes[0].picture, "third")
            .heroes PLAYER ACHIEVEMENTS
            .horizontal
                +player("Highest hero dmg", "highestHD", "hero_damage")
                +player("Most deaths", "mostDeaths", "deaths")
                +player("Most kills", "mostKills", "kills")
                +player("Most assists", "mostAssists", "assists")
                +player("Highest tower dmg", "highestTD", "tower_damage")
            .horizontal
                +player("Highest GPM", "highestGPM", "gold_per_min")
                +player("Highest XPM", "highestXPM", "xp_per_min")
                +player("Most last hits", "highestLH", "last_hits")
                +player("Most denies", "highestDN", "denies")
                +player("Highest hero healing", "highestHH", "hero_healing")
            .horizontal
                +player("Animal cruelty", "couriers", "courier_kills")
                +player("Fat Cat", "fatCat", "total_gold")
                +player("Pauper", "pauper", "total_gold")
                +player("Most runes yoinked", "runes", "rune_pickups")
                +player("Most camps stacked", "stacks", "camps_stacked")