mixin player(title, name, picture, value, hero, hasWon)
    .vertical(class="player")
        .gametitle= title
        div= value
        .playerimgs(class={"win": hasWon})
            img(src=picture, class="playerpic")
            img(src=hero.portrait, class="heroportrait")
        .playername #{name}

mixin hero(name, picks, picture)
    .vertical(class="hero")
        img(src=picture, class="heropic")
        div #{ name } (#{ picks })

mixin team(name, picture, win)
    .team&attributes(attributes)
        .winner #{win?"Winner":""}
        img(src=picture, class="teampic")
        .teamname= name

mixin game(title, value, stats)
    .vertical(class="game")
        .gametitle= title
        div= value
        .horizontal
            +team(
                stats.radiant.name, 
                stats.radiant.logo ? stats.radiant.logo : "/img/radiant.png", 
                stats.radiantWin
            )
            .vs vs
            +team(
                stats.dire.name, 
                stats.dire.logo ? stats.dire.logo : "/img/dire.png",  
                !stats.radiantWin
            )(class="rightalign")

doctype html
html
    head
        link(rel='stylesheet', href='/css/style.css', type='text/css')
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Satisfy")
    body
        .vertical
            h1 RD2L
            .season SEASON 16
            .subtitle Sunday stats by Kimer
            .horizontal
                    +game('Shortest game', shortestGame.duration, shortestGame)
                    +game('Least kills', leastKillsGame.kills, leastKillsGame)
                    +game('Earliest first blood', firstFirstBloodGame.firstBloodTime, firstFirstBloodGame)
            .horizontal
                    +game('Longest game', longestGame.duration, longestGame)
                    +game('Most kills', mostKillsGame.kills, mostKillsGame)
                    +game('Latest first blood', lastFirstBloodGame.firstBloodTime, lastFirstBloodGame)
            .heroes MOST PICKED HEROES
            .horizontal
                +hero(heroes[1].hero, heroes[1].count, heroes[1].picture)
                +hero(heroes[2].hero, heroes[2].count, heroes[2].picture)
                +hero(heroes[0].hero, heroes[0].count, heroes[0].picture)
            .heroes PLAYER ACHIEVEMENTS
            .horizontal
                +player("Highest hero dmg", players.highestHD.name, players.highestHD.avatarFull, players.highestHD.heroDamage, players.highestHD.hero, players.highestHD.hasWon)
                +player("Most deaths", players.mostDeaths.name, players.mostDeaths.avatarFull, players.mostDeaths.numDeaths, players.mostDeaths.hero, players.mostDeaths.hasWon)
                +player("Most kills", players.mostKills.name, players.mostKills.avatarFull, players.mostKills.numKills, players.mostKills.hero, players.mostKills.hasWon)
                +player("Most assists", players.mostAssists.name, players.mostAssists.avatarFull, players.mostAssists.numAssists, players.mostAssists.hero, players.mostAssists.hasWon)
                +player("Highest tower dmg", players.highestTD.name, players.highestTD.avatarFull, players.highestTD.towerDamage, players.highestTD.hero, players.highestTD.hasWon)
            .horizontal
                +player("Highest GPM", players.highestGPM.name, players.highestGPM.avatarFull, players.highestGPM.goldPerMinute, players.highestGPM.hero, players.highestGPM.hasWon)
                +player("Highest XPM", players.highestXPM.name, players.highestXPM.avatarFull, players.highestXPM.expPerMinute, players.highestXPM.hero, players.highestXPM.hasWon)
                +player("Most last hits", players.highestLH.name, players.highestLH.avatarFull, players.highestLH.numLastHits, players.highestLH.hero, players.highestLH.hasWon)
                +player("Most denies", players.highestDN.name, players.highestDN.avatarFull, players.highestDN.numDenies, players.highestDN.hero, players.highestDN.hasWon)
                +player("Highest hero healing", players.highestHH.name, players.highestHH.avatarFull, players.highestHH.heroHealing, players.highestHH.hero, players.highestHH.hasWon)
